* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
    width: 100vw;
    height: 100vh;
}

h1 {
    align-self: center;
    margin: 10px;
    font-size: 2.5em;
    color: #eee;
}

.secciones {
    display: flex;
    justify-content: space-around;
    height: 70%;
}

.options {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.option {
    border-radius: 50%;
    border: 2px solid #222;
}
.active {
    filter: drop-shadow(0 0 #f22f) drop-shadow(0 0 10px #f22a) drop-shadow(0 0 #f225);
}

.principal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #323;
    background: linear-gradient(to top, #111, #222);
    width: 70%;
}

form {
    display:flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 4px 2px;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    margin-left: 2%;
}

label.name {
    width: 35%;
}
input {
    width: 60%;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
    border-radius: 3px;
    background: transparent;
    color: #111;
    text-align: center;
    font-weight: bold;
}
input:focus {
    background: #333;
    color:#eee;
}

.refinado {
    background-color: #271;
}

.raro {
    background-color: #14f;
}

.epico{
    background-color: #f44;
}

form.recursos {
    background: #fff;
}

/* @media screen and (max-width:680px) {
    .container {
        flex-direction: row;
    }
    h1 {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 1.5em;
    }
    .secciones {
        flex-direction: column-reverse;
        align-content: center;
        align-self: center;
        justify-content: center;
        height: 100%;
        width: 80%;
    }
    .options {
        flex-direction: row;
        justify-content: space-around;
    }
    .principal {
        align-self: center;
        width: 100%;
        height: 70%;
    }
} */

@media screen and (max-width:560px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        writing-mode: horizontal-tb;
        text-orientation: upright;
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    b {
        font-size: 0.8em;
    }
    .secciones {
        flex-direction: column-reverse;
        align-content: center;
        align-self: center;
        justify-content: space-around;
        height: 100%;
        width: 98%;
    }
    .options {
        flex-direction: row;
        justify-content: space-around;
    }
    .principal {
        align-self: center;
        width: 100%;
        height: 80%;
    }
}

@media screen and (max-height:480px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        writing-mode: horizontal-tb;
        text-orientation: upright;
        font-size: 2em;
        height: 10%;
        margin: 2px;
    }
    h3 {
        font-size: 0.9em;
    }
    b, input {
        font-size: 0.7em;
    }
    .secciones {
        flex-direction: column-reverse;
        align-content: center;
        align-self: center;
        justify-content: space-around;
        height: 90%;
        width: 98%;
    }
    .options {
        flex-direction: row;
        justify-content: space-around;
        height: 20%;
    }
    .principal {
        position: relative;
        align-self: center;
        width: 100%;
        height: 80%;
    }
    form {
        height: 24%;
    }
    label {
        height: 99%;
        
    }
}
@media screen and (max-height:360px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        writing-mode: horizontal-tb;
        text-orientation: upright;
        font-size: 2em;
        height: 10%;
        margin: 2px;
    }
    h3 {
        font-size: 0.9em;
    }
    b, input {
        font-size: 0.65em;
    }
    .secciones {
        flex-direction: column-reverse;
        align-content: center;
        align-self: center;
        justify-content: space-around;
        height: 90%;
        width: 98%;
    }
    .options {
        flex-direction: row;
        justify-content: space-around;
        height: 20%;
    }
    .principal {
        position: relative;
        align-self: center;
        width: 100%;
        height: 80%;
    }
    form {
        height: 24%;
    }
    label {
        height: 90%;
        
    }
}

